body{
	background-color: lightgrey;
}
#table_of_content{
	height: 400px!important;


}
#states{
	height: 500px;
	color: white;

	
}
.bg-success {
    background-color: #0aae9e!important;
}
.states_div{
	border-left:1px solid white;
	border-bottom: 1px solid white;

}


#accordion{
padding: 0px!important;
height: 100px;
}